<form>
  <mat-form-field class="search-form">
    <input matInput placeholder="Search" value="" [(ngModel)]="filterContent" (ngModelChange)="applyFilter($event)"
      [ngModelOptions]="{standalone: true}">
  </mat-form-field>
</form>

<div *ngIf="dataSource.loading$ | async">
  <mat-spinner class="spinner-center"></mat-spinner>
</div>
<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <div *matCellDef="let city" width="100%" style="width: 100%">
      <app-city-card [city]="city" (cityUpdated)="cityUpdated($event)"></app-city-card>
    </div>
  </ng-container>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [showFirstLastButtons]="true" [length]="pageInfo.totalItems" [pageSizeOptions]="pageSizeOptions">
</mat-paginator>