<mat-toolbar>
  <button mat-icon-button  [routerLink]="['/']" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>City App</span>

  <span class="example-spacer"></span>
  <button mat-icon-button [routerLink]="['/login']" *ngIf="!isLoggedIn">
    <mat-icon class="login-icon">person</mat-icon>
  </button>

  <button mat-icon-button [routerLink]="['/login']" *ngIf="isLoggedIn">
    <mat-icon class="logout">logout</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>